
/* RODAPÉ */

.footer-column h2 {
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.footer-column .btn-sociais {
  width: 50px;
  height: 50px;
  margin-right: 9px;
  transition: 0.3s;
  text-decoration: none;
}

.footer-column .btn-sociais .bi {
  font-size: 1.5rem;
  color: var(--text-color);
  transition: 0.5s;
}

.footer-column .btn-sociais i:hover {
  color: var(--quaternary-color);
}

.footer {
  background: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 90%);
  color: #fff;
  padding: 50px 8% 20px;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 30px;
}

.footer-logo img {
  width: 180px;
}

.footer-column h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1.2rem;
  border-bottom: 1px dotted rgba(255,255,255,0.4);
  padding-bottom: 8px;
  display: inline-block;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin: 10px 0;
}

.footer-column ul li a {
  color: var(--text-color);
  position: relative;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}
.footer-column ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 45%;
  height: 2.3px;
  background-color: var(--text-color);
  border-radius: 2px;
  transition: .2s ease;
}

.footer-column ul li a:hover::after {
  width: 100%;
}

.footer-bottom {
  text-align: center;
  margin-top: 25px;
  color: rgba(255,255,255,0.9);
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-bottom a {
  color: var(--quaternary-color);
  text-decoration: none;
  font-weight: 600;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

@media (max-width: 850px) {

    /* Rodape */
    .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    .footer-column h3 {
    border: none;
    }

    .footer-logo img {
    margin-bottom: 20px;
    }
}


@media (max-width: 570px) {

    /* RODAPÉ */
    .footer-column .btn-sociais .bi {
        font-size: 1.3rem;
    }

    .footer {
        padding: 30px 8% 20px;
    }

    .footer-container {
        gap: 30px;
        padding-bottom: 30px;
    }

    .footer-logo img {
        width: 140px;
    }

    .footer-column h3 {
        font-size: 1rem;
    }

}